body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    color: #152C5B;
}

li {
    margin-right: 15px;
}

.header {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E5E5E5;
}

.header h1 {
    color: #152C5B;
}

.stay {
    color: #3252DF;
}

.firstlist {
    color: #3252DF;
}

main .show__me {
    display: flex;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

.forget__your {
    position: relative;
    margin-right: 150px;
}

.forget__your h2 {
    font-size: 42px;
    color: #152C5B;
}

.forget__your p {
    color: #B0B0B0;
}

.button {
    background-color: #3252DF;
    color: white;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 30px;
    cursor: pointer;
    background: #3252DF;
    border-radius: 5px;
    /* box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3); */
    /* border-radius: 0 30px; */
}

.travel {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
}

.travel div {
    margin-right: 30px;
}

.travel span {
    color: #152C5B;
    font-weight: bold;
}

.most__picked {
    margin-top: 50px;
}

.most__picked h3{
    color: #152C5B;
    size: 24px;
}

.most__picked__container {
    display: flex;
}

.pic__1 {
    position: relative;
    margin-right: 20px;
}

.price, .popular {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF498B;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 15px 0px 15px;
}

.detail {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color:#152C5B;
}

.pic__2 {
    margin-bottom: 20px;
}

.house {
    display: flex;
    margin-top: 50px;
}

.house__pic {
    position: relative;
    margin-right: 23px;
}

.popular p span {
    font-weight: 100;
}

.house__pic h4 {
    color: #152C5B;
}

.house__pic {
    color: #B0B0B0;
}

.happy__family {
    display: flex;
    margin-top: 100px;
}

.happy__family__img {
    margin-right: 100px;
}

.star {
    display: flex;
}

.happy__family h4 {
    font-size: 24px;
    color: #152C5B;
}

.happy__family h5 {
    font-size: 32px;
    color:#3252DF;
}

.container__footer h5 {
    color: #152C5B;
}

.happy__family p {
    font-size: 18px;
    color: #152C5B;
    font-weight: 400;
}

.container__footer {
    display: flex; 
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

.staycation__footer {
    margin-right: 50px;
}

.staycation__footer h5 {
    font-size: 24px;
}

.staycation__footer span {
    color:#152C5B;
}

.staycation__footer p {
    font-size: 18px;
    color: #B0B0B0;
}

.staycation__footer span {
    color: #3252DF;
}

.beginners {
    font-size: 18px;
}

.allrights {
    margin-top: 30px;
}

.allrights p {
    font-size: 18px;
    text-align: center;
    color: #B0B0B0;
}